absl-py==0.8.1
astor==0.8.0
attrs==18.2.0
beautifulsoup4==4.8.1
bleach==1.5.0
certifi==2019.9.11
chardet==3.0.4
click==6.7
click-log==0.1.8
distro==1.4.0
elasticsearch5==5.5.6
ff-espn-api==1.1.7
Flask==0.12.4
Flask-Cors==3.0.8
future==0.16.0
gast==0.3.2
google-pasta==0.1.7
grpcio==1.24.1
h5py==2.10.0
html5lib==0.9999999
idna==2.8
immutables==0.10
itsdangerous==1.1.0
Jinja2==2.10.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
mindmeld==4.1.0
nltk==3.4.5
numpy==1.17.2
objectpath==0.6.1
pandas==0.25.1
protobuf==3.10.0
py==1.8.0
pycountry==19.8.18
python-crfsuite==0.9.6
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
scikit-learn==0.19.2
scipy==0.19.1
six==1.12.0
sklearn-crfsuite==0.3.6
soupsieve==1.9.4
tabulate==0.8.5
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tqdm==4.36.1
urllib3==1.23
Werkzeug==0.16.0
wrapt==1.11.2